body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.square[data-state="clear"] {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  position: absolute;
  background-color: transparent;
  transition: 1s;
}

.square[data-state="checked"] {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  position: absolute;
  background-color: green; 
  transition: 1s;
}

.notransition {
  transition: none;
}