<!DOCTYPE html>
<html>
<head>
  <link id="board_style" rel="stylesheet" type="text/css" href="board_style_greenblue.css">
</head>
<body>

<script src="board_renderer_svg.js"></script>
<script src="gamestate.js"></script>

<div id="board" class="board" style="height:200px;width:300px;">
</div>

<button id="swap_dice" onclick="swap_dice()">Swap dice</button>
<select id="select_style" onchange="style_changed()">
  <option value="greenblue">Green&Blue</option>
  <option value="blackwhite">Black&White</option>
</select>

<script>
function set_board_style(style) {
  href = "board_style_" + style + ".css"
  var cssId = 'board_style';
  var head  = document.getElementsByTagName('head')[0];
  var link  = document.createElement('link');
  link.id   = cssId;
  link.rel  = 'stylesheet';
  link.type = 'text/css';
  link.href = href;
  link.media = 'all';
  head.appendChild(link);
}

function style_changed() {
  style = document.getElementById("select_style").value
  set_board_style(style)  
}

move_checker = function(event) {
  if (enable_actions > 0)
    return
  
  var from = event.currentTarget.owner.pip

  var allowed = gameState.allowed_moves(from)

  if (gameState.dice_moved == 0 &&
      allowed[0].allowed == false &&
      allowed[1].allowed == true) {
    gameState.swap_dice()
    board.update_dice()
  }

  var move = gameState.move_from(from)
  
  if (move == null)
    return

  enable_actions += 1
  
  var context = {
    move: move
  }
  
  board.move_checker(move[0].from, move[0].to, end_move_anim.bind(context))
}

function end_move_anim() {  
  if (this.move.length == 2) {
    board.move_checker(this.move[1].from, this.move[1].to, end_move_anim_2)
  }
  else {
    enable_actions -= 1
    board.update_dice_style()    
  }
}

function end_move_anim_2() {
  enable_actions -= 1
  board.update_dice_style()
}

function end_move() {
  if (enable_actions != 0)
    return

  if (gameState.can_move())
    return

  gameState.end_turn()

  board.update_game_state()
}

function swap_dice() {
  if (gameState.dice_moved == 0) {
    gameState.swap_dice()
    board.update_dice()
  }
}

var enable_actions = 0
var gameState = new GameState()
var board = new Board()
board.init(document.getElementById("board"))
board.set_pip_click_handler(move_checker)
board.set_dice_click_handler(end_move)
board.update_game_state()

</script>

</body>
</html>